<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    {% load static %}
    <link rel = "stylesheet" href="{% static 'startpage/styles.css' %}" type="text/css">
    <title>First Page</title>
</head>
<body>
    <br><br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <form action = "restable" method = "POST" >
        {% csrf_token %}
        <h1>Welcome {{user.name}}</h1>
        <br>
        <input type = "hidden" name = "pnum" value = {{user.phone}}>
        <input type="submit" value = "Reserve a table" class="btn btn-primary"><br><br>
    </form>
    <form action = "accres" method = "POST" >
        {% csrf_token %}
        <input type = "hidden" name = "pnum" value = {{user.phone}}>
        <input type="submit" value = "Accept reservation" class="btn btn-primary"><br><br>
    </form>
    <form action = "dinein" method = "POST" >
        {% csrf_token %}
        <input type = "hidden" name = "pnum" value = {{user.phone}}>
        <input type="submit" value = "Dine in" class="btn btn-primary"><br><br>
    </form>
    <form action = "takeaway" method = "POST" >
        {% csrf_token %}
        <input type = "hidden" name = "pnum" value = {{user.phone}}>
        <input type= "submit" value = "Takeaway" class="btn btn-primary"><br><br>
    </form>
    

    {% comment %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endcomment %}
    <!-- There is no reservation under your phone no. -->
    {% comment %} Your reservation is for 11:30 {% endcomment %}

    
</body>
</html>