<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
          }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <h1>Welcome {{user.name}}</h1>
    <h2>Select Items:</h2>
    <form action="">
    <table width="30%">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Order</th>
        </tr>
        <tr>
            <td>Chicken Biryani</td>
            <td>250</td>
            <td><input type="text" id="name" name="name"></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Fish Curry</td>
            <td>350</td>
            <td><input type="text" id="name" name="name"></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Veg Biryani</td>
            <td>150</td>
            <td><input type="text" id="name" name="name"></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Egg Roll</td>
            <td>50</td>
            <td><input type="text" id="name" name="name"></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Egg Curry</td>
            <td>150</td>
            <td><input type="text" id="name" name="name"></td>
            <td><input type="checkbox"></td>
        </tr>
    </table><br><br>
    <input type="submit">
</form>
</body>
</html>