<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
          }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm</title>
</head>
<body>
    <h2>time left: <div id ="demo">{{tleft}}</div></h2>
    <script>
        var myVar = setInterval(myTimer, 1000);
        
        function myTimer() {
          var d = document.getElementById("demo").innerHTML
          d = parseInt(d)
          d = d-1
          document.getElementById("demo").innerHTML = d
          if (d==0){
              alert("Your time slot has ended")
              document.getElementById("check").submit()
          }
        }
    </script>
    <form id = "check" action = "orderagain/" method = "POST">
    {% csrf_token %}
    <input type = "hidden" name="action" value="exit">
    </form>
    <h2>Final Bill </h2><br>
    <table width="30%">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for i,quant,totp in chosen %}
		<tr>
			<td>{{i.item_name}}</td>
			<td>{{i.selling_price}}</td>
            <td>{{quant}}</td>
            <td>{{totp}}</td>
            <td></td>
		</tr>
	    {% endfor %}
    </table>
    Total : {{totprice}} <br>
    Discount : {{user.loyalty.discount_perc}}% <br>
    Final Bill: {{finprice}} <br>
    <form action="orderagain/" method="POST">
        {% csrf_token %}
        <input type="submit" name="action" value="Order More"/>
        <input type="submit" name="action" value="Exit Restaurant"/>
    </form>
    
</body>
</html>