<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Wait</title>
</head>
<body>
    <form action="update" method="POST">
    {% csrf_token %}
        <h3>Next avilable Slot is for :  </h3>
        Would you like to wait ?<br><br>
        <input type = "hidden" name = "pnum" value ={{user.phone}}>
        <input type = "hidden" name = "tbid" value = {{tabid}}>
        <input type = "hidden" name = "tdur" value = {{tdur}}>
        <input type = "hidden" name = "numd" value = {{numd}}>
        
        <input type= "submit" name="decision" value = "Yes">
        <input type= "submit" name="decision" value = "No">
    </form>
    <button>Yes</button><button>No</button>
</body>
</html>