<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
          }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <h2>Select Items:</h2>
    <form action="choices/" method="POST">
        {% csrf_token %}
    <table width="30%">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Order</th>
        </tr>
    {% for i in menu %}
		<tr>
			<td>{{i.item_name}}</td>
			<td>{{i.selling_price}}</td>
            <td><input type="number" id="name" name="Quantity" min="0"></td>
            <td><input type="checkbox" id="Chkbx" value="{{i}}" name="Checkbox"></td>
		</tr>
	{% endfor %}
    </table><br><br>
    <input type = "hidden" name = "pnum" value = {{user.phone}}>
    <input type="submit">
</form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>