<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
          }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm</title>
</head>
<body>
    <h1>Hiya {{pnum}}</h1>
    <h2>Final Bill </h2><br>
    <table width="30%">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for i,quant,totp in chosen %}
		<tr>
			<td>{{i.item_name}}</td>
			<td>{{i.selling_price}}</td>
            <td>{{quant}}</td>
            <td>{{totp}}</td>
            <td></td>
		</tr>
	    {% endfor %}
    </table>
    Total : {{totprice}} <br>
    Final Bill: {{finprice}} <br>
    <form >
    <input type = "hidden" value = "pnum">
    <input type = "submit" value = "Continue">
    </form>
    
</body>
</html>